/** game-menus */
.start-menu,
.options-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-menu {
  display: none;
}
/* .options-menu {
  display: none;
} */

.play-invite,
.prompt {
  color: var(--choice-color);
  font-size: 2rem;
}

/** start-menu */
#play-button {
  margin: 1rem 0;
  padding: 0.9rem 1rem 0.8rem 1.45rem;

  background: var(--dark-color);
  color: var(--button-color);
  font-size: 2.75rem;
  border-radius: 50%;
  cursor: pointer;
}

#play-button:hover {
  color: var(--choice-color);
}

/** options-menu */
.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.75rem;
}

#rock,
#paper,
#scissors {
  margin: 1rem 0;
  padding: 1rem;

  background: var(--dark-color);
  color: var(--button-color);
  font-size: 2.55rem;
  border-radius: 50%;
  cursor: pointer;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  color: var(--choice-color);
}

/** font-sizes */
@media (max-width: 760px) {
  .play-invite,
  .prompt {
    font-size: 1.75rem;
  }

  #rock,
  #paper,
  #scissors {
    font-size: 2.25rem;
  }
}
