/** game-menu */
.start-menu,
.choices-menu,
.options-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt {
  color: var(--choice-color);
  font-size: 2rem;
}

/** start-menu */
#play {
  margin: 1rem 0;
  padding: 0.9rem 1rem 0.8rem 1.45rem;

  background: var(--dark-color);
  color: var(--win-color);
  font-size: 2.75rem;
  border-radius: 50%;
  cursor: pointer;
}

/** choices-menu */
.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.75rem;
}

#rock,
#paper,
#scissors {
  margin: 1rem 0;
  padding: 1rem;

  background: var(--dark-color);
  color: var(--hand-color);
  font-size: 2.55rem;
  border-radius: 50%;
  cursor: pointer;
}

/** options-menu */
.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.75rem;
}

#play-again,
#end-game {
  margin: 1rem 0;
  padding: 1rem;

  background: var(--dark-color);
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

#play-again {
  color: var(--win-color);
}

#end-game {
  color: var(--lose-color);
}

/** buttons:hover */
#play:hover,
#rock:hover,
#paper:hover,
#scissors:hover,
#play-again:hover,
#end-game:hover {
  color: var(--choice-color);
}

/** font-sizes */
@media (max-width: 760px) {
  .prompt {
    font-size: 1.75rem;
  }

  #rock,
  #paper,
  #scissors {
    font-size: 2.25rem;
  }
}
