/** hands */
.hands {
  display: flex;
  justify-content: space-around;
}

.player-hand {
  transform: rotateY(180deg);
}

/** hands widths */
@media (max-width: 760px) {
  .hands > img {
    width: 60%;
  }
}
