/* play-options */
.play-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.play-invite,
.prompt {
  padding: 0.5rem 2.5rem;

  color: var(--choice-color);
  font-size: 2rem;
}

/* play-invite */
.play-invite {
  /* display: none; */
}
#play-button {
  margin: 1rem 0;
  padding: 0.9rem 1rem 0.8rem 1.45rem;

  background: var(--dark-color);
  color: var(--button-color);
  font-size: 2.75rem;
  border-radius: 50%;

  /* display: none; */
}

#play-button:hover {
  color: var(--choice-color);
}

/* choices */
.prompt {
  display: none;
}
.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;

  display: none;
}

#rock,
#paper,
#scissors {
  margin: 1rem 0;
  padding: 1rem;

  background: var(--dark-color);
  color: var(--button-color);
  font-size: 2.55rem;
  border-radius: 50%;
}

#rock:hover,
#paper:hover,
#scissors:hover {
  color: var(--choice-color);
}

/* font-sizes */
@media (max-width: 760px) {
  .prompt {
    padding: 0.75rem 2.5rem;

    font-size: 1.75rem;
  }

  #rock,
  #paper,
  #scissors {
    font-size: 2.25rem;
  }
}
